<ion-content class="bg-login" fullscreen="true">
  <div class="px-30 m-auto contenedor">
    <div text-center class="form-login">
      <ion-row>
        <ion-col size="12" text-center>
          <ion-img class="img-avatar top-40"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="prueba">
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label>Prueba técnica</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <form [formGroup]="form">
        <ion-row class="form">
          <ion-col size="12" class="center no-padding">
            <ion-list class="px-20" mode="md">
              <ion-item>
                <ion-icon
                  name="person-outline"
                  slot="start"
                  [color]="campoAccionado(email) ? 'danger':''"
                ></ion-icon>
                <ion-input
                  name="email"
                  type="email"
                  formControlName="email"
                  placeholder="Email"
                  [ngClass]="{ 'placeholder-error': campoAccionado(email) }"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon
                  name="lock-closed-outline"
                  slot="start"
                  [color]="campoAccionado(password) ? 'danger':''"
                ></ion-icon>
                <ion-input
                  name="password"
                  type="password"
                  formControlName="password"
                  placeholder="Contraseña"
                  [ngClass]="{ 'placeholder-error': campoAccionado(password) }"
                ></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label slot="start" class="text-bold">Recordar</ion-label>
                <ion-toggle
                  slot="end"
                  name="remember"
                  formControlName="remember"
                ></ion-toggle>
              </ion-item>
            </ion-list>

            <ion-button type="button" (click)="login()" class="btn-login"
              >Acceder</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
